*{
    margin: 0;
    padding: 0;
}
.azeret-mono-normal{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
/* BODY PART TOP - 1  */
  nav{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 50px 150px 50px 150px;
  }
  nav ul{
    display: flex;
    text-align: center;
  }
  .nav-title{
    font-weight: 800;
    font-size: 28px;
  }
nav ul li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
    padding: 17px 24px 17px 24px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
}
.common-color{
    color: rgb(13, 19, 33);
}
.Content{
    background-image: url(../assets/Hero-bg.png);

}
.Content-container{
    justify-content: center;
    text-align: center;
    
}
.content-title{
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    padding: 32px 32px;
}
.content-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;

    text-align: center;
    padding: 24px 24px;
    opacity: 0.7;
}
.btn{
    margin-bottom: 45px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px 21px 24px;
    
    
}
.btn-line{
    text-decoration: none;
    color: white;
    padding: 45px 53px;
    
}

.full-body{
    max-width: 1140px;
    margin: 0 auto;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
 

}
.full-body{
    margin-top: 25px;
    display: flex;
    gap: 80px;
    justify-content: space-around;
    padding: 48px 48px 48px 48px;
  }
 .reverse{
    flex-direction: row-reverse;
 
  }
  .heading {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
  }
  
  .prg{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    margin-bottom: 15px;
    
  }
  btn2{
    border: 1px solid rgb(13, 19, 33);
    

    
  }
  .btn-line2{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    opacity: 0.7;
     
}
/* MY-INSPIRATION */
.Jhankar-vai-s-video{
    max-width: 1140px;
    margin: 0 auto;
    

}
.vdo-head{
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 800;
    padding: 24px;

}
.vdo-des{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 48px;
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}
.vdo-link{
    display: flex;
    justify-content: center;
  
    
}




 
