*{
    margin: 0;
    padding: 0;
}
.azeret-mono-normal{
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
/* BODY PART TOP - 1  */
  nav{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 50px 150px 50px 150px;
  }
  nav ul{
    display: flex;
    text-align: center;
  }
  .nav-title{
    font-weight: 800;
    font-size: 28px;
  }
nav ul li{
    list-style: none;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
    padding: 17px 24px 17px 24px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
}
.common-color{
    color: rgb(13, 19, 33);
}
.Content{
    background-image: url(/assets/Hero-bg.png);

}
.Content-container{
    justify-content: center;
    text-align: center;
    
}
.content-title{
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    padding: 32px 32px;
}
.content-description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    padding: 24px 24px;
    opacity: 0.7;
}
.btn{
    margin-bottom: 45px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    padding: 21px 24px 21px 24px;
    
    
}
.btn-line{
    text-decoration: none;
    color: white;
    padding: 45px 53px;
    
}
/* SECTION-1 */
.full-body{
    max-width: 1140px;
    margin: 0 auto;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    

}
.Section-one{
    margin-top: 70px;
    
}
.Sec-one-title-and-des{
    padding: 40px;
    justify-content: center;
    text-align: center;
}
.Heading{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
}
.Description{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    margin: 20px 48px;
    opacity: 0.7;

}
sec-h{
    padding: 20px 20px;
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
}
.sec-p{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    opacity: 0.7;
    
}
.sec-container{
    padding: 48px;
    display: flex;
    align-items:center;
    justify-content:space-between;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
    
}
.layer-one{
    float: right;
    
}
.sec-container{
    display: block;
}
.sec-p{
    margin-top: 20px;
    padding-bottom: 48px;
}
.learn-btn{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px 12px 20px;
    color: rgb(13, 19, 33);
    
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-decoration: none;
    
}
.learnbtn{box-sizing: border-box;
    border: 1px solid 1px	Inside
    rgb(13, 19, 33);
    opacity: 0.7;
    

}
